os: linux
dist: bionic
language: ruby
rvm:
  - 2.4.10
  - 2.5.8
  - 2.6.6
  - 2.7.2
  - ruby-head
gemfile:
  - gemfiles/rails_5.0.gemfile
  - gemfiles/rails_5.1.gemfile
  - gemfiles/rails_5.2.gemfile
  - gemfiles/rails_6.0.gemfile
  - gemfiles/rails_6.1.gemfile
  - gemfiles/rails_edge.gemfile
jobs:
  allow_failures:
    - rvm: ruby-head
    - gemfile: gemfiles/rails_edge.gemfile
  exclude:
    - rvm: 2.4.10
      gemfile: gemfiles/rails_edge.gemfile
    - rvm: 2.4.10
      gemfile: gemfiles/rails_6.0.gemfile
    - rvm: 2.4.10
      gemfile: gemfiles/rails_6.1.gemfile
    - rvm: 2.7.2
      gemfile: gemfiles/rails_5.0.gemfile
    - rvm: 2.7.2
      gemfile: gemfiles/rails_5.1.gemfile
    - rvm: 2.7.2
      gemfile: gemfiles/rails_5.2.gemfile
    - rvm: ruby-head
      gemfile: gemfiles/rails_5.0.gemfile
    - rvm: ruby-head
      gemfile: gemfiles/rails_5.1.gemfile
    - rvm: ruby-head
      gemfile: gemfiles/rails_5.2.gemfile
  fast_finish: true
